[Unit]
Description=Home Assistant Backup to TrueNAS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=HA_BACKUP_CONF=/root/.ha-backup.conf
Environment=HA_BACKUP_LOG_DIR=/var/log.hdd/ha
ExecStart=/root/ha-backup.sh
User=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6
